.custom-checkbox {
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	z-index: 1;
	top: 0;
	margin-right: 5px
}

.custom_checkbox {
	position: relative
}

.custom_checkbox:after {
	font-family: common;
	content: "\e919";
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	top: 5px;
	left: 0;
	padding: 0;
	color: #e0e0e0;
	text-align: center;
	font-size: 13px
}

.custom_checkbox.selected:after {
	background-color: #fff;
	border: 1px solid #ccc;
	color: #5ebd95
}

.custom-checkbox input[type=checkbox] {
	margin: 0;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	outline: 0;
	opacity: 0;
	-khtml-opacity: 0;
	-moz-opacity: 0
}

.pushcheck .custom-checkbox, .starcheck .custom-checkbox {
	width: 22px;
	height: 22px;
	top: -2px;
	background-image: none;
	margin-right: 0;
	font-size: 21px;
	color: #ccc;
	font-wight: 600
}

.pushcheck .custom-checkbox input, .starcheck .custom-checkbox input {
	display: none
}

.pushcheck .custom-checkbox:hover, .starcheck .custom-checkbox:hover {
	background-position: -81px -350px;
	color: #ff5b7e
}

.pushcheck .custom-checkbox.selected, .starcheck .custom-checkbox.selected
	{
	background-image: none;
	color: #ff965b;
	font-weight: 600
}

.custom_checkbox, .custom_radio {
	margin-bottom: 0
}

.custom_checkbox {
	margin-top: -8px;
	margin-bottom: 5px
}

.custom-radio {
	width: 26px;
	height: 26px;
	display: inline-block;
	position: relative;
	z-index: 1;
	top: -1px;
	background: url(../../img/smilebiome/input/i_check.png) no-repeat -212px
		-41px transparent;
	vertical-align: middle;
	margin-right: 5px;
	cursor: pointer
}

.custom-radio:hover {
	background-position: -212px -41px
}

.custom-radio.selected {
	background-position: -212px -76px
}

.custom-radio input[type=radio] {
	margin: 1px;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	outline: 0;
	opacity: 0;
	width: 26px;
	height: 26px;
	-khtml-opacity: 0;
	-moz-opacity: 0;
	display: none
}

.custom_select {
	width: 100%;
	padding: 4px 30px 4px 10px;
	font-size: 14px;
	border: 1px solid #dfdfdf;
	height: 38px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	border-radius: 3px
}

.custom_select_wrap {
	position: relative
}

.custom_select_wrap:after {
	content: "";
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -4px;
	border-bottom: 0;
	border-top: 6px dashed;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	color: #45454c
}

select.custom_select::-ms-expand {
	display: none
}

.gray_select .custom_select {
	border: 1px solid #e3e3e3
}

.round_select {
	border-radius: 20px;
	height: 40px;
	border: 0;
	padding-left: 20px
}

.emerald_select {
	border-radius: 20px;
	padding-left: 25px;
	border-color: #3bcad3;
	color: #3bcad3;
	background-position-y: -90px
}

.emerald_select:hover {
	background-position-y: -90px
}

.btn-group-primary .btn-primary {
	background-color: #f4f8f9 !important;
	color: #a9a9a9 !important;
	border-color: #e8f0f3 !important
}

.btn-group-primary .btn-primary.active {
	background-color: #435966 !important;
	color: #fff !important;
	border-color: #133e58 !important
}

.btn-group-w2 .btn {
	width: 50%
}

.pagination>li>a, .pagination>li>span {
	background-color: transparent
}

.pagination {
	float: none;
	margin: 2px auto;
	text-align: center
}

.pagination>li>a, .pagination>li>span {
	font-size: 15px
}

.pagination>li>a, .pagination>li>span {
	font-weight: 600;
	border: 0 solid #ddd !important;
	border-bottom: 1px solid transparent !important
}

div.dataTables_paginate ul.pagination {
	margin: 10px 0
}

div.paging_simple_numbers ul.pagination {
	width: 100%
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
	.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	{
	background-color: transparent;
	color: #71b6f9;
	border-bottom: 1px solid #71b6f9 !important
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus,
	.pagination>li>span:hover {
	background-color: transparent;
	color: #71b6f9
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover,
	.pagination>.disabled>span, .pagination>.disabled>span:focus,
	.pagination>.disabled>span:hover {
	color: #e8e8e8
}

.caret_right {
	border-left: 11px dashed;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	color: #ececed
}

.caret_left {
	border-right: 11px dashed;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	color: #ececed
}

.caret_up {
	border-top: 0;
	border-bottom: 11px dashed;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	color: #ececed
}

.caret_down {
	border-bottom: 0;
	border-top: 11px dashed;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	color: #ececed
}

.caret_down_sm {
	border-bottom: 0;
	border-top: 7px dashed;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	color: #ececed
}

.move3 {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}

.move5 {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s
}

.move7 {
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s
}

.move10 {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s
}

.label_name {
	width: 90%;
	white-space: nowrap;
	word-wrap: normal;
	max-height: 22px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis
}

.label_name_max {
	width: auto;
	max-width: 75%
}

.btn.label_name, .label_name_34 {
	max-height: 34px
}

.label_name_34 {
	line-height: 22px
}

.block-ellipsis {
	display: block;
	display: -webkit-box;
	max-width: 100%;
	max-height: 35px;
	margin: 0 auto;
	font-size: 15px;
	line-height: 19px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	text-overflow: ellipsis
}

.block-ellipsis-40 {
	max-height: 90px;
	font-size: 30px;
	line-height: 45px
}

.word_break {
	display: block;
	word-wrap: break-word
}

.ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.list_default {
	padding: 0;
	margin: 0;
	list-style: none
}

.list_relative>li {
	position: relative
}

.list_row>li {
	display: table;
	clear: both
}

.list_disc {
	margin: 0;
	padding-left: 20px;
	list-style: none
}

.list_disc>li {
	position: relative
}

.list_disc>li:before {
	content: "";
	background-color: #7d7d7d;
	top: 8px;
	position: absolute;
	left: -16px;
	font-size: 5px;
	line-height: 20px;
	width: 6px;
	height: 6px;
	border-radius: 50%
}

.list_disc_sm>li:before {
	top: 4px
}

.list_disc_lg {
	padding-left: 20px
}

.list_disc_lg>li:before {
	background-color: #999;
	top: 6px;
	left: -17px;
	line-height: 20px;
	width: 8px;
	height: 8px;
	border-radius: 50%
}

.list_disc_gray>li:before {
	background-color: #ccc
}

.list_minus {
	margin: 0;
	padding-left: 20px;
	list-style: none
}

.list_minus>li {
	position: relative
}

.list_minus>li:before {
	content: "-";
	top: -2px;
	position: absolute;
	left: -12px;
	font-size: 15px;
	line-height: 20px
}

.list_pointer>li {
	cursor: pointer
}

.list_square {
	padding-left: 15px
}

.list_square>li {
	position: relative
}

.list_square>li:before {
	content: "";
	background-color: #222;
	top: 7px;
	position: absolute;
	left: -15px;
	font-size: 5px;
	line-height: 20px;
	width: 5px;
	height: 5px
}

.list_square_sm {
	padding-left: 10px
}

.list_square_sm>li {
	position: relative
}

.list_square_sm>li:before {
	content: "";
	background-color: #222;
	top: 9px;
	position: absolute;
	left: -10px;
	font-size: 2px;
	line-height: 15px;
	width: 2px;
	height: 2px
}

.list_number>li {
	list-style: decimal
}

.list_thumb5>li {
	margin-bottom: 5px;
	padding-bottom: 5px
}

.list_thumb10>li {
	margin-bottom: 10px;
	padding-bottom: 10px
}

.list_thumb15>li {
	margin-bottom: 15px;
	padding-bottom: 15px
}

.list_thumb20>li {
	margin-bottom: 20px;
	padding-bottom: 20px
}

.list_p5>li {
	padding: 5px
}

.list_p10>li {
	padding: 10px
}

.list_p15>li {
	padding: 15px
}

.list_p_bot5>li {
	padding-bottom: 5px
}

.list_p_bot10>li {
	padding-bottom: 10px
}

.list_p_bot15>li {
	padding-bottom: 15px
}

.list_p_bot20>li {
	padding-bottom: 20px
}

.list_p_bot50>li {
	padding-bottom: 50px
}

.list_p_tb5>li {
	padding-top: 5px;
	padding-bottom: 5px
}

.list_p_tb10>li {
	padding-top: 10px;
	padding-bottom: 10px
}

.list_p_side5>li {
	padding-left: 5px;
	padding-right: 5px
}

.list_p_side15>li {
	padding-left: 15px;
	padding-right: 15px
}

.list_m_bot5>li {
	margin-bottom: 5px
}

.list_m_bot10>li {
	margin-bottom: 10px
}

.list_m_bot15>li {
	margin-bottom: 15px
}

.list_m_bot20>li {
	margin-bottom: 20px
}

.list_m_bot25>li {
	margin-bottom: 25px
}

.list_m_bot50>li {
	margin-bottom: 50px
}

.list_no_border>li {
	border: 0
}

.list_left>li {
	list-style: none;
	float: left
}

.list_left_m1>li {
	margin-right: 1px
}

.list_left_m5>li {
	margin-right: 5px
}

.list_left_m10>li {
	margin-right: 10px
}

.list_left_m20>li {
	margin-right: 20px
}

.list_left_m30>li {
	margin-right: 30px
}

.list_right>li {
	list-style: none;
	float: right
}

.list_right_m10>li {
	margin-left: 10px
}

.list_right_m20>li {
	margin-left: 20px
}

.list_border_f2>li {
	border-bottom: 1px solid #f2f2f2
}

.list_border_df>li {
	border-bottom: 1px solid #dfdfdf
}

.list_border_de>li {
	border-bottom: 1px solid #dedede
}

.list_border_33>li {
	border-bottom: 1px solid #333
}

.list_default>li:last-child {
	margin-right: 0;
	margin-left: 0;
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0
}

.list_w2>li {
	width: 50%
}

.list_w3>li {
	width: 33.33333333%
}

.list_w4>li {
	width: 25%
}

.list_w5>li {
	width: 20%
}

.list_w6>li {
	width: 16.66666667%
}

.list_w7 .list_div_item, .list_w7>li {
	width: 14.28%
}

.list_w8>li {
	width: 12.5%
}

.list_w9>li {
	width: 11.11111%
}

.list_w10>li {
	width: 10%
}

.list_w11>li {
	width: 9.08%
}

.list_w12>li {
	width: 8.33333%
}

.list_w14>li {
	width: 7.14%
}

.list_w20>li {
	width: 5%
}

.wid_5 {
	width: 5%
}

.wid_10 {
	width: 10%
}

.wid_12 {
	width: 12%
}

.wid_15 {
	width: 15%
}

.wid_16 {
	width: 16.6666%
}

.wid_20 {
	width: 20%
}

.wid_25 {
	width: 25%
}

.wid_29 {
	width: 29%
}

.wid_30 {
	width: 30%
}

.wid_35 {
	width: 35%
}

.wid_33 {
	width: 33.333333%
}

.wid_34 {
	width: 34%
}

.wid_40 {
	width: 40%
}

.wid_45 {
	width: 45%
}

.wid_49 {
	width: 49%
}

.wid_50 {
	width: 50%
}

.wid_55 {
	width: 55%
}

.wid_60 {
	width: 60%
}

.wid_64 {
	width: 64%
}

.wid_65 {
	width: 65%
}

.wid_70 {
	width: 70%
}

.wid_75 {
	width: 75%
}

.wid_80 {
	width: 80%
}

.wid_90 {
	width: 90%
}

.wid_95 {
	width: 95%
}

.wid_all {
	width: 100%
}

.wid_all_im {
	width: 100% !important
}

.wid_25px {
	width: 25px
}

.wid_30px {
	width: 30px
}

.wid_50px {
	width: 50px
}

.wid_75px {
	width: 75px
}

.wid_90px {
	width: 90px
}

.wid_100px {
	width: 100px
}

.wid_120px {
	width: 120px
}

.wid_150px {
	width: 150px
}

.wid_180px {
	width: 180px
}

.wid_200px {
	width: 200px
}

.wid_220px {
	width: 220px
}

.wid_300px {
	width: 300px
}

.wid_360px {
	width: 360px
}

.wid_900px {
	width: 900px
}

.h_all {
	height: 100%
}

.h_1px {
	height: 1px
}

.h_24px {
	height: 24px
}

.h_30px {
	height: 30px
}

.h_34px {
	height: 34px
}

.h_40px {
	height: 40px
}

.h_50px {
	height: 50px
}

.h_70px {
	height: 70px
}

.h_100px {
	height: 100px
}

.h_130px {
	height: 130px
}

.h_300px {
	height: 300px
}

.h_400px {
	height: 400px
}

.max_w30 {
	max-width: 30px
}

.max_w50 {
	max-width: 50px
}

.max_w100 {
	max-width: 100px
}

.max_w150 {
	max-width: 150px
}

.max_w200 {
	max-width: 200px
}

.max_w250 {
	max-width: 200px
}

.max_w300 {
	max-width: 300px
}

.max_w350 {
	max-width: 350px
}

.max_w400 {
	max-width: 400px
}

.max_w500 {
	max-width: 500px
}

.max_w550 {
	max-width: 550px
}

.max_w600 {
	max-width: 600px
}

.max_w650 {
	max-width: 650px
}

.max_w700 {
	max-width: 700px
}

.max_w750 {
	max-width: 750px
}

.max_w800 {
	max-width: 800px
}

.max_w960 {
	max-width: 960px
}

.max_w1000 {
	max-width: 1000px
}

.max_w1200 {
	max-width: 1200px
}

.max_w1300 {
	max-width: 1300px
}

.max_w1600 {
	max-width: 1600px
}

.max_w1920 {
	max-width: 1920px
}

.min_h20 {
	min-height: 20px
}

.min_h30 {
	min-height: 30px
}

.min_h40 {
	min-height: 40px
}

.min_h50 {
	min-height: 50px
}

.min_h100 {
	min-height: 100px
}

.min_h120 {
	min-height: 120px
}

.min_w70 {
	min-width: 70px
}

.min_w100 {
	min-width: 100px
}

.min_w150 {
	min-width: 150px
}

.min_w180 {
	min-width: 180px
}

.min_w300 {
	min-width: 300px
}

.min_w350 {
	min-width: 350px
}

.min_auto {
	min-width: inherit
}

.min_h60 {
	min-height: 60px
}

.min_h100 {
	min-height: 100px
}

.min_h150 {
	min-height: 150px
}

.min_h180 {
	min-height: 180px
}

.min_h190 {
	min-height: 190px
}

.min_h250 {
	min-height: 250px
}

.min_h300 {
	min-height: 300px
}

.min_h350 {
	min-height: 350px
}

.min_h400 {
	min-height: 400px
}

.min_h480 {
	min-height: 480px
}

.min_h500 {
	min-height: 500px
}

.min_h580 {
	min-height: 580px
}

.min_h630 {
	min-height: 630px
}

.min_h_all {
	min-height: 100%
}

.max_w600 {
	max-width: 600px
}

.max_w900 {
	max-width: 900px
}

.max_h300_auto {
	max-height: 300px;
	overflow-y: auto
}

.max_h600_auto {
	max-height: 600px;
	overflow-y: auto
}

.h100_auto {
	max-height: 100px;
	min-height: 100px;
	overflow-y: auto
}

.h150_auto {
	max-height: 150px;
	min-height: 150px;
	overflow-y: auto
}

.h170_auto {
	max-height: 170px;
	min-height: 170px;
	overflow-y: auto
}

.h200_auto {
	max-height: 200px;
	min-height: 200px;
	overflow-y: auto
}

.h300_auto {
	max-height: 300px;
	min-height: 300px;
	overflow-y: auto
}

.h400_auto {
	max-height: 400px;
	min-height: 400px;
	overflow-y: auto
}

.h450_auto {
	max-height: 450px;
	min-height: 450px;
	overflow-y: auto
}

.table-fixed {
	table-layout: fixed
}

.xxs_col {
	width: 35px
}

.xs_col {
	width: 50px
}

.s_col {
	width: 60px
}

.col_70px {
	width: 70px
}

.num_col {
	width: 80px
}

.df_col {
	width: 100px
}

.label_col {
	width: 120px
}

.sm_col {
	width: 150px
}

.smd_col {
	width: 180px
}

.md_col {
	width: 200px
}

.lg_col {
	width: 250px
}

.xl_col {
	width: 400px
}

.col8 {
	width: 8%
}

.col9 {
	width: 9%
}

.col10 {
	width: 10%
}

.col12 {
	width: 12%
}

.col15 {
	width: 15%;
	max-width: 15%
}

.col20 {
	width: 20%
}

.col25 {
	width: 25%
}

.col30 {
	width: 30%
}

.col33 {
	width: 33%
}

.col40 {
	width: 40%
}

.col50 {
	width: 50%
}

.col60 {
	width: 60%
}

.col70 {
	width: 70%
}

.col80 {
	width: 80%
}

.col85 {
	width: 85%
}

.col90 {
	width: 90%
}

.col100 {
	width: 100%
}

.btn-trans {
	border: 0;
	background-color: transparent
}

.btn-trans:ACTIVE, .btn-trans:FOCUS, .btn-trans:HOVER {
	border: 0;
	background-color: transparent;
	box-shadow: none
}

.btn.text-left {
	text-align: left
}

.btn-side {
	min-width: 150px;
	padding-left: 10px;
	padding-right: 10px
}

.btn-side-xl {
	min-width: 250px;
	padding-left: 30px;
	padding-right: 30px
}

.btn-side-lg {
	min-width: 180px;
	padding-left: 30px;
	padding-right: 30px
}

.btn-side-sm {
	min-width: 100px;
	padding-left: 10px;
	padding-right: 10px
}

.btn-side-xs {
	min-width: 80px;
	padding-left: 10px;
	padding-right: 10px
}

.no_radius, .radius0 {
	border-radius: 0
}

.radius3 {
	border-radius: 3px
}

.radius5 {
	border-radius: 5px
}

.radius10 {
	border-radius: 10px
}

.radius20 {
	border-radius: 20px
}

.radius30 {
	border-radius: 30px
}

.radius50 {
	border-radius: 50%
}

.tl_radius3 {
	border-top-left-radius: 3px !important
}

.tr_radius3 {
	border-top-right-radius: 3px !important
}

.bl_radius3 {
	border-bottom-left-radius: 3px !important
}

.br_radius3 {
	border-bottom-right-radius: 3px !important
}

.no_border {
	border: 0
}

.no_border_im {
	border: 0 !important
}

.no_border_side {
	border-left-width: 0;
	border-right-width: 0
}

.border_63 {
	border: 1px solid #636466
}

.border_68 {
	border: 1px solid #6880a6
}

.border_fa {
	border: 1px solid #fafafa
}

.border_fe {
	border: 1px solid #fefefe
}

.border_cc {
	border: 1px solid #ccc
}

.border_cf {
	border: 1px solid #cfcfcf
}

.border_df {
	border: 1px solid #dfdfdf
}

.border_green {
	border: 1px solid #0d946e
}

.border_ee {
	border: 1px solid #eee
}

.border_emerald {
	border: 1px solid #3bcad3
}

.border_rt_f2 {
	border-right: 1px solid #f2f2f2
}

.border_lt_f2 {
	border-left: 1px solid #f2f2f2
}

.border_bot_f2 {
	border-bottom: 1px solid #f2f2f2
}

.border_bot_ef {
	border-bottom: 1px solid #efefef
}

.border_bot_d2 {
	border-bottom: 1px solid #d2d2d2
}

.border_bot_33 {
	border-bottom: 1px solid #333
}

.border_top_f2 {
	border-top: 1px solid #f2f2f2
}

.border_top_ef {
	border-top: 1px solid #efefef
}

.border_top_d2 {
	border-top: 1px solid #d2d2d2
}

.border_top_a8 {
	border-top: 1px solid #a8a8a8
}

.border_top_e0 {
	border-top: 1px solid #e0e0e0
}

.border_tb_f2 {
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2
}

.border_tb_df {
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf
}

.border_wid_2, .border_wid_2:FOCUS, .border_wid_2:HOVER {
	border-width: 2px
}

.border_wid_3 {
	border-width: 3px
}

.border_wid_5 {
	border-width: 5px
}

.border_top_w0 {
	border-top-width: 0
}

.border_top_w2 {
	border-top-width: 2px
}

.border_bot_w2 {
	border-bottom-width: 2px
}

.op3 {
	background-color: rgba(0, 0, 0, .3)
}

.op6 {
	background-color: rgba(0, 0, 0, .6)
}

.op8_w {
	background-color: rgba(255, 255, 255, .8)
}

.op7_w {
	background-color: rgba(255, 255, 255, .7)
}

.op6_w {
	background-color: rgba(255, 255, 255, .6)
}

.op5_w {
	background-color: rgba(255, 255, 255, .5)
}

.po_relative {
	position: relative
}

.po_absolute {
	position: absolute
}

.po_fixed {
	position: fixed;
	-webkit-backface-visibility: hidden
}

.po_static_im {
	position: static !important
}

.top0 {
	top: 0
}

.top2 {
	top: 2px
}

.top3 {
	top: 3px
}

.top4 {
	top: 4px
}

.top5 {
	top: 5px
}

.top6 {
	top: 6px
}

.top_m3 {
	top: -3px
}

.top_m5 {
	top: -5px
}

.top_h {
	top: 50%
}

.top8 {
	top: 8px
}

.top10 {
	top: 10px
}

.top15 {
	top: 15px
}

.top20 {
	top: 20px
}

.top45 {
	top: 45px
}

.rt_in {
	right: initial
}

.rt0 {
	right: 0;
	left: initial
}

.rt5 {
	right: 5px;
	left: initial
}

.rt10 {
	right: 10px;
	left: initial
}

.rt15 {
	right: 15px;
	left: initial
}

.rt20 {
	right: 20px;
	left: initial
}

.rt30 {
	right: 30px;
	left: initial
}

.rt50 {
	right: 50px;
	left: initial
}

.rt_m3 {
	right: -3px;
	left: initial
}

.rt_m10 {
	right: -10px;
	left: initial
}

.lt_in {
	left: initial
}

.lt0 {
	left: 0
}

.lt_h {
	left: 50%
}

.lt5 {
	left: 5px
}

.lt10 {
	left: 10px
}

.lt20 {
	left: 20px
}

.lt30 {
	left: 30px
}

.lt15 {
	left: 15px
}

.lt_m20 {
	left: -20px
}

.bot0 {
	bottom: 0
}

.bot5 {
	bottom: 5px
}

.bot10 {
	bottom: 10px
}

.bot15 {
	bottom: 15px
}

.z_in10 {
	z-index: 10
}

.z_in100 {
	z-index: 100
}

.p_top0 {
	padding-top: 0
}

.p_top0_im {
	padding-top: 0 !important
}

.p_top4 {
	padding-top: 4px
}

.p_top5 {
	padding-top: 5px
}

.p_top7 {
	padding-top: 7px
}

.p_top10 {
	padding-top: 10px
}

.p_top15 {
	padding-top: 15px
}

.p_top20 {
	padding-top: 20px
}

.p_top25 {
	padding-top: 25px
}

.p_top30 {
	padding-top: 30px
}

.p_top40 {
	padding-top: 40px
}

.p_top50 {
	padding-top: 50px
}

.p_top70 {
	padding-top: 70px
}

.p_top100 {
	padding-top: 100px
}

.p_bot0 {
	padding-bottom: 0
}

.p_bot5 {
	padding-bottom: 5px
}

.p_bot15 {
	padding-bottom: 15px
}

.p_bot10 {
	padding-bottom: 10px
}

.p_bot20 {
	padding-bottom: 20px
}

.p_bot30 {
	padding-bottom: 30px
}

.p_bot40 {
	padding-bottom: 40px
}

.p_bot50 {
	padding-bottom: 50px
}

.p_bot60 {
	padding-bottom: 60px
}

.p_bot100 {
	padding-bottom: 100px
}

.p_bot150 {
	padding-bottom: 150px
}

.p_left0 {
	padding-left: 0
}

.p_left0_im {
	padding-left: 0 !important
}

.p_left5 {
	padding-left: 5px
}

.p_left8 {
	padding-left: 8px
}

.p_left10 {
	padding-left: 10px
}

.p_left15 {
	padding-left: 15px
}

.p_left20 {
	padding-left: 20px
}

.p_left25 {
	padding-left: 25px
}

.p_left30 {
	padding-left: 30px
}

.p_left40 {
	padding-left: 40px
}

.p_left50 {
	padding-left: 50px
}

.p_left60 {
	padding-left: 60px
}

.p_left70 {
	padding-left: 70px
}

.p_left80 {
	padding-left: 80px
}

.p_left100 {
	padding-left: 100px
}

.p_left120 {
	padding-left: 120px
}

.p_left150 {
	padding-left: 150px
}

.p_left160 {
	padding-left: 160px
}

.p_left220 {
	padding-left: 220px
}

.p_right0 {
	padding-right: 0
}

.p_right0_im {
	padding-right: 0 !important
}

.p_right5 {
	padding-right: 5px
}

.p_right10 {
	padding-right: 10px
}

.p_right10_im {
	padding-right: 10px !important
}

.p_right15 {
	padding-right: 15px
}

.p_right20 {
	padding-right: 20px
}

.p_right25 {
	padding-right: 25px
}

.p_right30 {
	padding-right: 30px
}

.p_right50 {
	padding-right: 50px
}

.p_right80 {
	padding-right: 80px
}

.p_right100 {
	padding-right: 100px
}

.p_right110 {
	padding-right: 110px
}

.p_right150 {
	padding-right: 150px
}

.p_right160 {
	padding-right: 160px
}

.p_right200 {
	padding-right: 200px
}

.p_tb0 {
	padding-top: 0;
	padding-bottom: 0
}

.p_tb2 {
	padding-top: 2px;
	padding-bottom: 2px
}

.p_tb4 {
	padding-top: 4px;
	padding-bottom: 4px
}

.p_tb5 {
	padding-top: 5px;
	padding-bottom: 5px
}

.p_tb8 {
	padding-top: 8px;
	padding-bottom: 8px
}

.p_tb10 {
	padding-top: 10px;
	padding-bottom: 10px
}

.p_tb15 {
	padding-top: 15px;
	padding-bottom: 15px
}

.p_tb20 {
	padding-top: 20px;
	padding-bottom: 20px
}

.p_tb25 {
	padding-top: 25px;
	padding-bottom: 25px
}

.p_tb30 {
	padding-top: 30px;
	padding-bottom: 30px
}

.p_tb50 {
	padding-top: 50px;
	padding-bottom: 50px
}

.p_tb80 {
	padding-top: 80px;
	padding-bottom: 80px
}

.p_tb100 {
	padding-top: 100px;
	padding-bottom: 100px
}

.p_side0 {
	padding-left: 0;
	padding-right: 0
}

.p_side2 {
	padding-left: 2px;
	padding-right: 2px
}

.p_side5 {
	padding-left: 5px;
	padding-right: 5px
}

.p_side10 {
	padding-left: 10px;
	padding-right: 10px
}

.p_side15 {
	padding-left: 15px;
	padding-right: 15px
}

.p_side20 {
	padding-left: 20px;
	padding-right: 20px
}

.p_side25 {
	padding-left: 25px;
	padding-right: 25px
}

.p_side30 {
	padding-left: 30px;
	padding-right: 30px
}

.p_side35 {
	padding-left: 35px;
	padding-right: 35px
}

.p_side34 {
	padding-left: 34px;
	padding-right: 34px
}

.p_side40 {
	padding-left: 40px;
	padding-right: 40px
}

.p_side50 {
	padding-left: 50px;
	padding-right: 50px
}

.p_side60 {
	padding-left: 60px;
	padding-right: 60px
}

.p_side70 {
	padding-left: 70px;
	padding-right: 70px
}

.p_side80 {
	padding-left: 80px;
	padding-right: 80px
}

.p_all0 {
	padding: 0
}

.p_all0_im {
	padding: 0 !important
}

.p_all5 {
	padding: 5px
}

.p_all10 {
	padding: 10px
}

.p_all15 {
	padding: 15px
}

.p_all20 {
	padding: 20px
}

.p_all25 {
	padding: 25px
}

.p_all30 {
	padding: 30px
}

.p_all40 {
	padding: 40px
}

.p_all50 {
	padding: 50px
}

.row10 {
	margin-left: -10px;
	margin-right: -10px
}

.m_top0 {
	margin-top: 0
}

.m_top0_im {
	margin-top: 0 !important
}

.m_top1 {
	margin-top: 1px
}

.m_top2 {
	margin-top: 2px
}

.m_top3 {
	margin-top: 3px
}

.m_top4 {
	margin-top: 4px
}

.m_top5 {
	margin-top: 5px
}

.m_top7 {
	margin-top: 7px
}

.m_top10 {
	margin-top: 10px
}

.m_top12 {
	margin-top: 12px
}

.m_top15 {
	margin-top: 15px
}

.m_top20 {
	margin-top: 20px
}

.m_top25 {
	margin-top: 25px
}

.m_top27 {
	margin-top: 27px
}

.m_top30 {
	margin-top: 30px
}

.m_top40 {
	margin-top: 40px
}

.m_top45 {
	margin-top: 45px
}

.m_top50 {
	margin-top: 50px
}

.m_top60 {
	margin-top: 60px
}

.m_top75 {
	margin-top: 75px
}

.m_top100 {
	margin-top: 100px
}

.m_top200 {
	margin-top: 200px
}

.m_top_m2 {
	margin-top: -2px
}

.m_top_m5 {
	margin-top: -5px
}

.m_top_m7 {
	margin-top: -7px
}

.m_top_m8 {
	margin-top: -8px
}

.m_top_m10 {
	margin-top: -10px
}

.m_top_m15 {
	margin-top: -15px
}

.m_top_m20 {
	margin-top: -20px
}

.m_top_m25 {
	margin-top: -25px
}

.m_top_m35 {
	margin-top: -35px
}

.m_top_m45 {
	margin-top: -45px
}

.m_top_m50 {
	margin-top: -50px
}

.m_bot0 {
	margin-bottom: 0
}

.m_bot0_im, .table.m_bot0_im {
	margin-bottom: 0 !important
}

.m_bot10_im, .table.m_bot10_im {
	margin-bottom: 10px !important
}

.m_bot3 {
	margin-bottom: 3px
}

.m_bot5 {
	margin-bottom: 5px
}

.m_bot10 {
	margin-bottom: 10px
}

.m_bot15 {
	margin-bottom: 15px
}

.m_bot20 {
	margin-bottom: 20px
}

.m_bot25 {
	margin-bottom: 25px
}

.m_bot30 {
	margin-bottom: 30px
}

.m_bot40 {
	margin-bottom: 40px
}

.m_bot50 {
	margin-bottom: 50px
}

.m_bot60 {
	margin-bottom: 60px
}

.m_bot70 {
	margin-bottom: 70px
}

.m_bot100 {
	margin-bottom: 100px
}

.m_bot_m7 {
	margin-bottom: -7px
}

.m_bot_m10 {
	margin-bottom: -10px
}

.m_bot_m50 {
	margin-bottom: -50px
}

.m_tb0 {
	margin-top: 0;
	margin-bottom: 0
}

.m_tb5 {
	margin-top: 5px;
	margin-bottom: 5px
}

.m_tb10 {
	margin-top: 10px;
	margin-bottom: 10px
}

.m_tb15 {
	margin-top: 15px;
	margin-bottom: 15px
}

.m_tb20 {
	margin-top: 20px;
	margin-bottom: 20px
}

.m_tb30 {
	margin-top: 30px;
	margin-bottom: 30px
}

.m_tb50 {
	margin-top: 50px;
	margin-bottom: 50px
}

.m_tb100 {
	margin-top: 100px;
	margin-bottom: 100px
}

.m_left0 {
	margin-left: 0
}

.m_left0_im {
	margin-left: 0 !important
}

.m_left5 {
	margin-left: 5px
}

.m_left10 {
	margin-left: 10px
}

.m_left15 {
	margin-left: 15px
}

.m_left20 {
	margin-left: 20px
}

.m_left30 {
	margin-left: 30px
}

.m_left35 {
	margin-left: 35px
}

.m_left40 {
	margin-left: 40px
}

.m_left50 {
	margin-left: 50px
}

.m_left90 {
	margin-left: 90px
}

.m_left210 {
	margin-left: 210px
}

.m_left25per {
	margin-left: 25%
}

.m_left25_m {
	margin-left: -25px
}

.m_left100_m {
	margin-left: -100px
}

.m_right0 {
	margin-right: 0
}

.m_right2 {
	margin-right: 2px
}

.m_right0_im {
	margin-right: 0 !important
}

.m_right5 {
	margin-right: 5px
}

.m_right10 {
	margin-right: 10px
}

.m_right15 {
	margin-right: 15px
}

.m_right20 {
	margin-right: 20px
}

.m_right30 {
	margin-right: 30px
}

.m_right35 {
	margin-right: 35px
}

.m_right40 {
	margin-right: 40px
}

.m_right50 {
	margin-right: 50px
}

.m_right90 {
	margin-right: 90px
}

.m_right100 {
	margin-right: 100px
}

.m_right110 {
	margin-right: 110px
}

.m_right160 {
	margin-right: 160px
}

.m_right_m4 {
	margin-right: -4px
}

.m_right_m5 {
	margin-right: -5px
}

.m_right_m10 {
	margin-right: -10px
}

.m_right_m15 {
	margin-right: -15px
}

.m_right_m20 {
	margin-right: -20px
}

.m_side0 {
	margin-right: 0;
	margin-left: 0
}

.m_side0_im {
	margin-right: 0 !important;
	margin-left: 0 !important
}

.m_side2 {
	margin-right: 2px;
	margin-left: 2px
}

.m_side5 {
	margin-right: 5px;
	margin-left: 5px
}

.m_side10 {
	margin-right: 10px;
	margin-left: 10px
}

.m_side15 {
	margin-right: 15px;
	margin-left: 15px
}

.m_side20 {
	margin-right: 20px;
	margin-left: 20px
}

.m_side30 {
	margin-right: 30px;
	margin-left: 30px
}

.m_side34 {
	margin-right: 34px;
	margin-left: 34px
}

.m_side50 {
	margin-right: 50px;
	margin-left: 50px
}

.m_side70 {
	margin-right: 70px;
	margin-left: 70px
}

.m_side_m2 {
	margin-right: -2px;
	margin-left: -2px
}

.m_side_m5 {
	margin-right: -5px;
	margin-left: -5px
}

.m_side_m10 {
	margin-right: -10px;
	margin-left: -10px
}

.m_side_m20 {
	margin-right: -20px;
	margin-left: -20px
}

.m_all0 {
	margin: 0
}

.m_all5 {
	margin: 5px
}

.m_all10 {
	margin: 10px
}

.m_all15 {
	margin: 15px
}

.m_all20 {
	margin: 20px
}

.m_auto {
	margin-right: auto;
	margin-left: auto
}

.color_fff {
	color: #fff
}

.color_f1 {
	color: #f1f1f1
}

.color_f1f {
	color: #f1f3f6
}

.color_f2 {
	color: #f2f2f2
}

.color_f4 {
	color: #f4f7f9
}

.color_f4a {
	color: #f4ad49
}

.color_logo_green {
	color: #8ac34a
}

.color_logo_deep_green {
	color: #038374
}

.color_ef {
	color: #efefef
}

.color_ab {
	color: #00aebf
}

.color_a8 {
	color: #a8a8a8
}

.color_b2 {
	color: #b2b2b2
}

.color_b3 {
	color: #b39dda
}

.color_2a {
	color: #2a3f54
}

.color_ccc {
	color: #ccc
}

.color_c2 {
	color: #c2b7a1
}

.color_ca {
	color: #cafcfb
}

.color_596 {
	color: #5969a0
}

.color_yellow {
	color: #eabe02
}

.color_gray {
	color: #848589
}

.color_green {
	color: #4fa75d
}

.color_emerald {
	color: #00afc0
}

.color_red {
	color: #f0546d
}

.color_required {
	color: #f0546d
}

.color_sky {
	color: #72c2f1
}

.color_orange {
	color: #fe9e4c
}

.color_meat {
	color: #f68a38
}

.color_blue {
	color: #1f9eec
}

.color_04 {
	color: #041e42
}

.color_63 {
	color: #6364d0
}

.color_c4 {
	color: #c45e5c
}

.color_gut {
	color: #00aebf
}

.color_baby {
	color: #ef9b97
}

.color_chart_blue {
	background-color: #00b5de
}

.color_chart_green {
	background-color: #01d255
}

.color_chart_orange {
	background-color: #ff9500
}

.color_chart_red {
	background-color: #f72e55
}

.color_deep {
	color: #1b3f5d
}

.color_deep_blue {
	color: #50aaf6
}

.color_deep_green {
	color: #038374
}

.color_primary {
	color: #00aebf
}

.color_14 {
	color: #141414
}

.color_33 {
	color: #333
}

.color_4c {
	color: #4c4c4c
}

.color_42 {
	color: #428bcc
}

.color_55 {
	color: #555
}

.color_59 {
	color: #595757
}

s .color_64 {
	color: #646464
}

.color_70 {
	color: #707070
}

.color_71 {
	color: #717171
}

.color_74 {
	color: #747474
}

.color_7f {
	color: #7f7f7f
}

.color_90 {
	color: #90a4ae
}

.color_93 {
	color: #939393
}

.color_99 {
	color: #999
}

.color_cc825e {
	color: #cc825e
}

.color_ce7159 {
	color: #ce7159
}

.color_cc825e {
	color: #c77089
}

.color_498170 {
	color: #498170
}

.color_4d8688 {
	color: #4d8688
}

.color_538da6 {
	color: #538da6
}

.color_53 {
	color: #535353
}

.color_5ab1de {
	color: #5ab1de
}

.color_eba15d {
	color: #eba15d
}

.color_fbd94a {
	color: #fbd94a
}

.color_9a92eb {
	color: #9a92eb
}

.color_kakao {
	color: #ffcd00
}

.color_naver {
	color: #1ec800
}

.color_facebook {
	color: #3b5998
}

.color_instargram {
	color: #fff
}

.color_youtube {
	color: red
}

.bg_trans {
	background-color: transparent
}

.bg_fff {
	background-color: #fff
}

.bg_f1 {
	background-color: #f1f1f1
}

.bg_f3 {
	background-color: #f3f4f5
}

.bg_f5 {
	background-color: #f5f5f5
}

.bg_f8 {
	background-color: #f8f8f8
}

.bg_fa {
	background-color: #fafafa
}

.bg_fc {
	background-color: #fcfcfc
}

.bg_ef {
	background-color: #efefef
}

.bg_df {
	background-color: #dfdfdf
}

.bg_deep {
	background-color: #1b3f5d
}

.bg_cc {
	background-color: #ccc
}

.bg_a8 {
	background-color: #a8a8a8
}

.bg_14 {
	background-color: #141414
}

.bg_55 {
	background-color: #555
}

.bg_596 {
	background-color: #5969a0
}

.bg_33 {
	background-color: #333
}

.bg_f6e {
	background-color: #f6e7e9
}

.bg_f1e {
	background-color: #f1e6e3
}

.bg_f9e {
	background-color: #f9e9e1
}

.bg_dc {
	background-color: #dcf1fa
}

.bg_de {
	background-color: #def9fa
}

.bg_dae {
	background-color: #dae1e6
}

.bg_dd {
	background-color: #ddfaf1
}

.bg_e8 {
	background-color: #e8f6fd
}

.bg_fef3 {
	background-color: #fef3e9
}

.bg_fefc {
	background-color: #fefced
}

.bg_f4f4 {
	background-color: #f4f4f9
}

.bg_fef8e4 {
	background-color: #fef8e4
}

.bg_sky {
	background-color: #3eb8f1
}

.bg_red {
	background-color: #f1546d
}

.bg_purple {
	background-color: #c53ef1
}

.bg_emerald {
	background-color: #00afc0
}

.bg_blue {
	background-color: #1f9eec
}

.bg_orange {
	background-color: #ff9500
}

.bg_orange_im {
	background-color: #ff9500 !important
}

.bg_chart_purple {
	background-color: #c53ef1
}

.bg_chart_blue {
	background-color: #00b5de
}

.bg_chart_blue01 {
	background-color: #8eeaff
}

.bg_chart_blue02 {
	background-color: #2bd8ff
}

.bg_chart_blue03 {
	background-color: #00b5de
}

.bg_chart_blue04 {
	background-color: #0090b1
}

.bg_chart_blue05 {
	background-color: #00748e
}

.bg_chart_green {
	background-color: #01d255
}

.bg_chart_green01 {
	background-color: #59ff9c
}

.bg_chart_green02 {
	background-color: #07ef64
}

.bg_chart_green03 {
	background-color: #01d255
}

.bg_chart_green04 {
	background-color: #00a944
}

.bg_chart_green05 {
	background-color: #008033
}

.bg_chart_lt_green {
	background-color: #03f363
}

.bg_chart_deep_green {
	background-color: #00ad45
}

.bg_chart_orange {
	background-color: #ff9500
}

.bg_chart_orange01 {
	background-color: #ffcd85
}

.bg_chart_orange02 {
	background-color: #ffb144
}

.bg_chart_orange03 {
	background-color: #ff9500
}

.bg_chart_orange04 {
	background-color: #ff6b02
}

.bg_chart_orange05 {
	background-color: #e84d03
}

.bg_chart_red {
	background-color: #f72e55
}

.bg_chart_red01 {
	background-color: #cc0026
}

.bg_chart_red02 {
	background-color: #ef0632
}

.bg_chart_red03 {
	background-color: #f72e55
}

.bg_chart_red04 {
	background-color: #ff6886
}

.bg_chart_red05 {
	background-color: #ff8fa5
}

.no_shadow {
	box-shadow: none
}

.box_shadow {
	box-shadow: 0 3px 10px rgba(0, 0, 0, .2)
}

.box_shadow_center {
	box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

.box_shadow_xs {
	box-shadow: 0 3px 10px rgba(0, 0, 0, .1)
}

.pointer {
	cursor: pointer
}

.cursor_default {
	cursor: default !important
}

.cursor_disable {
	cursor: not-allowed
}

.block {
	display: block
}

.block_im {
	display: block !important
}

.none {
	display: none
}

.in_block {
	display: inline-block
}

.row_block {
	display: inline-block;
	width: 100%
}

.no_float {
	float: none
}

.no_float_im {
	float: none !important
}

.text-center-im {
	text-align: center !important
}

.text-right {
	text-align: right
}

.text-right-im {
	text-align: right !important
}

.text-just {
	text-align: justify;
	word-break: break-all
}

.text-just-im {
	text-align: justify !important;
	word-break: break-all
}

.over_auto {
	overflow: auto
}

.over_auto_y {
	overflow-y: auto;
	overflow-x: hidden
}

.over_scroll {
	overflow: scroll
}

.over_scroll_y {
	overflow-y: scroll
}

.over_scroll_x {
	overflow-x: scroll
}

.over_hidden {
	overflow: hidden
}

.over_view {
	overflow: visible
}

.ver_mid, .ver_mid.table td, .ver_mid.table th {
	vertical-align: -webkit-baseline-middle;
	vertical-align: middle
}

.ver_top, .ver_top.table td, .ver_top.table th {
	vertical-align: top
}

.ver_bot, .ver_bot.table td, .ver_bot.table th {
	vertical-align: bottom
}

.ver_tb {
	vertical-align: text-bottom
}

.table thead tr th {
	background-color: #666;
	border-color: #666;
	color: #fff
}

.table-even tbody tr:nth-child(even) {
	background-color: #ececec
}

.font10 {
	font-size: 10px;
	line-height: 12px
}

.font11 {
	font-size: 11px;
	line-height: 13px
}

.font12 {
	font-size: 12px;
	line-height: 17px
}

.font13 {
	font-size: 13px;
	line-height: 20px
}

.font14 {
	font-size: 14px;
	line-height: 17px
}

.font15 {
	font-size: 15px;
	line-height: 18px
}

.font16 {
	font-size: 16px;
	line-height: 21px
}

.font17 {
	font-size: 17px
}

.font18 {
	font-size: 18px;
	line-height: 22px
}

.font20 {
	font-size: 20px;
	line-height: 1.3
}

.font22 {
	font-size: 22px;
	line-height: 24px
}

.font26 {
	font-size: 26px;
	line-height: 28px
}

.font30 {
	font-size: 30px;
	line-height: 32px
}

.font34 {
	font-size: 34px;
	line-height: 36px
}

.font35 {
	font-size: 35px;
	line-height: 37px
}

.font40 {
	font-size: 40px;
	line-height: 42px
}

.font50 {
	font-size: 50px;
	line-height: 52px
}

.font60 {
	font-size: 60px;
	line-height: 62px
}

.font80 {
	font-size: 80px;
	line-height: 82px
}

.font100 {
	font-size: 100px;
	line-height: 105px
}

.light {
	font-weight: 100
}

.normal, label.normal {
	font-weight: 200
}

.bold {
	font-weight: 400
}

b {
	font-weight: 400
}

.bolder {
	font-weight: 600
}

.bolder_st {
	font-weight: 800
}

.italic {
	font-style: italic
}

.help_block {
	font-size: 12px;
	margin: 5px 0
}

.underline {
	text-decoration: underline
}

.upper {
	text-transform: uppercase
}

.line_h15 {
	line-height: 15px
}

.line_h23 {
	line-height: 23px
}

.line_h25 {
	line-height: 25px
}